doctype 5
html(lang="en")
	head
		meta(charset="utf-8")
		title="RFID Registration Kiosk"
		link(rel='stylesheet', href='/assets/css/style.css')
	body
		#container
		#container-welcome
			h1 Scan your card to begin
		#container-manage
		#adminbtn
			a(href="/admin/") ACP
		script(src="/assets/js/jquery-1.10.0.min.js")
		script(src="/assets/js/kiosk.js")
