*, html, body {
	margin:0;
	padding:0
}

h1 {
	text-align: center;
	margin-top: 55px;
}

#adminbtn {
	position: fixed;
	bottom: 0;
	right: 10px;
	background-color: #A00;
	border-radius: 5px 5px 0 0;
}

#adminbtn a {
	display: block;
	font-weight: bold;
	color: white;
	padding: 10px 25px;
	text-decoration: none;
}
